

PUBLIC_URL="...."


# Twilio Credentials & Numbers
TWILIO_ACCOUNT_SID=..
TWILIO_AUTH_TOKEN=..
TWILIO_US_NUMBER=+..
MY_INDIAN_NUMBER=+..

# Sarvam AI API Key
SARVAM_API_KEY=..

# Google Gemini API Key
GEMINI_API_KEY=..

# Server Settings
PORT=8080

AI_GATEWAY_API_KEY=..